**bold text** Declare first_name varaiable and assign value to it

In [ ]:
first_name = "rania"

Declare last_name and assign value to it

In [ ]:
last_name = "masharika"

declare Full_Name and assign value to it

In [ ]:
FullName = "rania othman al masharika"

Declare country and assign value to it

In [ ]:
country = "Jordan"

Declare city varaialbe and assign value to it

In [ ]:
city = "Amman"

Declare age variale and assign value to it

In [ ]:
age = '57'

Declare is_married  variable and assig value to it

In [ ]:
is_married = True

Declare is_True variable and assign value to it

In [ ]:
is_true = True

Declare is_light_on variable and assign value to it

In [ ]:
is_light_on = False

declare multiple varaibles on one line

In [ ]:
first_na = "rania" ,last_na = "masharika" , salary = 200 , age = "39", is_emp = False , payment_val = 500.56 ,is_attach = True

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-46-106bd466afc1>, line 1)

In [ ]:
fir_nam , last_na , salary, age1 , is_emp , payment_valu = 'rania' ,'othman', 400, '55' , True , 500.120

check data type for all variables

In [ ]:
print(type(first_name) , type (fir_nam) , type (last_name), type(last_na))

<class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [ ]:
print (type (age1), type(country))

<class 'str'> <class 'str'>

In [ ]:
print (type (age1) ,type(is_emp))

<class 'str'> <class 'bool'>

In [ ]:
print (type(FullName), type(age) , type (is_light_on) )

<class 'str'> <class 'str'> <class 'bool'>

In [ ]:
print ( type (payment_valu) , type(salary) )

<class 'float'> <class 'int'>

In [ ]:
print (type(salay) ,  type (is_emp))

NameError: name 'salay' is not defined

I can print varialbe type string with type `boolian` in same print statement but i can't print variable type  float or intger with variable type string or boolian in same print statement
all float and integer varialbes in one print statement